 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, nice to meet you! My name is Christopher Lo - here's an overview of all the projects I have worked on in the past as a software developer.</p>
                </div>
                <div class="col-lg-4">
                    <p>Feel free to contact me for any inquiries by emailing using the form below. My interests lie in the fields of web/mobile development, cybersecurity, and artificial intelligence.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="Christopher-Lo-Resumé.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resumé
                    </a>
                </div>
            </div>
        </div>
    </section>
